{% extends "hello/base.html" %}
  {% block title%} Flight {{flight.id}} {% endblock %}
  {% block logout %}<a href="{% url 'logout' %}">Logout</a> {% endblock %}
{% block body%}
<h2>Flight</h2>
<ul>
<li>
Origin:   {{ flight.origin }}
  </li>
  <li>
  Destination:   {{ flight.destination }}
    </li>
    <li>
    Duration:   {{ flight.duration }}
      </li>
      <li>
      Valid:   {{ flight.is_valid_flight }}
        </li>
</ul>
<h3>Passengers</h3>
<ul>
  {% for passenger in passengers %}
  <li>
    {{ passenger.first }} {{ passenger.last }}
    </li>
    {% empty %}
    <li> No Passengers. </li>
  {% endfor%}
</ul>
<hr>
<h2>Add a passenger</h2>
{% if non_passengers %}
<form action="{% url 'book' flight.id %}" method="post">
  {% csrf_token %}
<select class="" name="passenger">
    {% for passenger in non_passengers %}
<option value="{{ passenger.id }}">{{ passenger }}</option>
  {% endfor%}
</select>
<input type="submit" value="Book flight" />
</form>
{% else %}
<div> No passengers to add.</div>
{% endif %}
<a href="{% url 'index'%}">Back to all flights</a>
{% endblock %}
